.Navigation {
    display: flex;      
}

.Navigation__link {
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-right: 16px;
    color: #FFFFFF;
    text-decoration: none;
}