.Portfolio__main {
    width: 95%;
    margin-top: 101px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Portfolio__header {
    margin: 0 0 50px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

.Portfolio__menu_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Portfolio__menu_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Portfolio__link {
    width: 100%;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.Portfolio__link_header {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
}

.Portfolio__link-img {
    align-self: flex-start;
}

.Portfolio__menu_border{
    width: 100%;
    margin: 19px 0 20px 0;
    border-top: 1px solid #424242;
}

.Portfolio__block {
    height: 85px;
}