.Header {
    width: 95%;
    height: 54px;
    display: flex;
    background-color:aqua;
    align-items: center;
    justify-content: space-between;
  }

  .Header__block{
    width: 44px;
  }

  .Header__block-menu {
    display: flex;
    align-items: center;
  }

